html, body, .main-container {
  height: 100%;
}

.section {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.section > p {
  margin-bottom: 20px;
  max-width: 50%;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-container .section {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
  margin-top: 50px;
}

address {
  text-align: right;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(120px, 1fr));
  grid-gap: 25px 30px;
  max-width: 75%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 5px 15px 10px;
}

.logo {
  height: 41px;
}
